
header {
		padding: 10px;
		background: #000;
	}
	
.title{
	padding-left:220px;
	background-color:pink;
}
#date{ padding-left:212px;
color:#fff;}
/* --------------------- Navigation*/ 
.menu{
	position:fixed;
	width:200px;
	left:-200px; 
	height:100%;
	background: #333;
	color:#fff;
	top: 8px;
}
.menu h3 {
	position: relative;
	padding: 12px 10px;
	font-size: 1.2em;
	border-bottom: 4px solid #222;
}

.menu .menu-toggle {
	position: absolute;
	top: 12px;
	right: 10px;
	display: inline-block;
	padding: 6px 9px 5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
	text-decoration: none;
	vertical-align: top;
}
.menu .menu-toggle:hover {
	color: #fff;
}
.menu ul {
	list-style: none;
	font-weight: 300;
	border-top: 1px solid #151515;
	border-bottom: 1px solid #454545;
}
.menu ul li {
	border-top: 1px solid #454545;
	border-bottom: 1px solid #151515;
}
.menu ul li a {
	position: relative;
	display: block;
	padding: 10px;
	color: #999;
	text-decoration: none;
	transition:background 1.3s;
}
.menu ul li a:hover {
	background: #000;
	color: #fff;	
}
nav a:link.sub, nav a:visited.sub {
	color: #999;
	background: linear-gradient( #e4c78b);
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	margin: 2px 20px 0 20px;
	padding: 6px 8px 6px 20px;
	display: block;	
}

nav a.sub{transition:background 1.3s;}	

nav a:hover.sub	{
	color: pink;
	background-color:#000;
}

/* ---------------------End Navigation*/ 
 article{
		margin: 40px 20px 0 150px;
		padding:20px;	
        border-left:1px solid pink;
		border-right:1px solid pink;
		color:#000;
		font-size:1.2em;
		width:95%;
          
        }
         
h2:hover {
    cursor: pointer;
}