
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
header {
		padding: 10px;
		background: #000;
	}
	
.title{
	padding-left:220px;
	background-color:pink;
}
#date{ padding-left:212px;
color:#fff;}
/* --------------------- Navigation*/ 
.menu{
	position:fixed;
	width:200px;
	left:-200px; 
	height:100%;
	background: #333;
	color:#fff;
	top: 8px;
}
.menu h3 {
	position: relative;
	padding: 12px 10px;
	font-size: 1.2em;
	border-bottom: 4px solid #222;
}

.menu .menu-toggle {
	position: absolute;
	top: 12px;
	right: 10px;
	display: inline-block;
	padding: 6px 9px 5px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	background: #222;
	color: #999;
	text-decoration: none;
	vertical-align: top;
}
.menu .menu-toggle:hover {
	color: #fff;
}
.menu ul {
	list-style: none;
	font-weight: 300;
	border-top: 1px solid #151515;
	border-bottom: 1px solid #454545;
}
.menu ul li {
	border-top: 1px solid #454545;
	border-bottom: 1px solid #151515;
}
.menu ul li a {
	position: relative;
	display: block;
	padding: 10px;
	color: #999;
	text-decoration: none;
	transition:background 1.3s;
}
.menu ul li a:hover {
	background: #000;
	color: #fff;	
}
nav a:link.sub, nav a:visited.sub {
	color: #999;
	background: linear-gradient( #e4c78b);
	font-size: 1em;
	font-weight: normal;
	text-decoration: none;
	margin: 2px 20px 0 20px;
	padding: 6px 8px 6px 20px;
	display: block;	
}

nav a.sub{transition:background 1.3s;}	

nav a:hover.sub	{
	color: pink;
	background-color:#000;
}

/* ---------------------End Navigation*/ 
 article{
		margin: 40px 20px 0 150px;
		padding:20px;	
        border-left:1px solid pink;
		border-right:1px solid pink;
		color:#000;
		font-size:1.2em;
		width:95%;
          
        }
         
.more {
    max-height: 20px;
    max-width: auto;
}    

h2:hover {
    cursor: pointer;
}

/* ----------------- Horizontal Navigation -------------------- */

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border-radius: 5px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #9d9d9d;
  background: -o-linear-gradient(top, #b7b7b7, #898989);
  background: -ms-linear-gradient(top, #b7b7b7, #898989);
  background: -webkit-linear-gradient(top, #b7b7b7, #898989);
  background: -moz-linear-gradient(top, #b7b7b7, #898989);
  background: linear-gradient(to bottom, #b7b7b7, #898989);
  box-shadow: inset 0 -3px 0 #818181, inset 0 -3px 3px #848484, inset 0 2px 2px #d3d3d3, inset 1px 0 2px #8b8b8b, inset -1px 0 2px #8b8b8b, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.17), 2px 1px 2px rgba(0, 0, 0, 0.05), -2px 1px 2px rgba(0, 0, 0, 0.05);
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  padding: 20px 25px;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color: #cae5fd;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 40px;
}
#cssmenu ul > li.has-sub > a:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 17px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: #9d9d9d;
  background: -webkit-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: -ms-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: -moz-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: -o-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: linear-gradient(to bottom, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  box-shadow: inset 0 -1px 1px #868686, inset 0 2px 1px #c3c3c3;
  background-size: 36px 36px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub:hover > a:after {
  background-position: 0 -18px;
}
#cssmenu ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  right: 11px;
  top: 25px;
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: #000000;
  z-index: 99;
}
#cssmenu ul > li.has-sub:hover > a:before {
  border-top-color: #6a6a6a;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  opacity: 0;
  -webkit-transition: top .2s ease, opacity .2s ease;
  -moz-transition: top .2s ease, opacity .2s ease;
  -ms-transition: top .2s ease, opacity .2s ease;
  -o-transition: top .2s ease, opacity .2s ease;
  transition: top .2s ease, opacity .2s ease;
}
#cssmenu > ul > li > ul {
  top: 90px;
  padding-top: 8px;
  border-radius: 5px;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 50px;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  top: 40px;
}
#cssmenu ul ul > li:hover > ul {
  top: 0;
  left: 178px;
  padding-left: 10px;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 178px;
  padding-left: 0;
  padding-right: 10px;
  opacity: 1;
}
#cssmenu ul ul li a {
  width: 180px;
  padding: 12px 25px;
  font-size: 13px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-decoration: none;
  background: #aeaeae;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li > a:hover,
#cssmenu ul ul li.active > a {
  color: #cae5fd;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0 2px 2px #d9d9d9;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0 -3px 0 #a1a1a1, inset 0 -3px 3px #959595, 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.13);
}
#cssmenu ul ul > li.has-sub > a:after {
  right: 12px;
  top: 9.5px;
  background: #aeaeae;
  background: -webkit-linear-gradient(top, #bdbdbd 0%, #b6b6b6 25%, #a4a4a4 50%, #bdbdbd 75%, #b6b6b6 100%);
  background: -ms-linear-gradient(top, #bdbdbd 0%, #b6b6b6 25%, #a4a4a4 50%, #bdbdbd 75%, #b6b6b6 100%);
  background: -moz-linear-gradient(top, #bdbdbd 0%, #b6b6b6 25%, #a4a4a4 50%, #bdbdbd 75%, #b6b6b6 100%);
  background: -o-linear-gradient(top, #bdbdbd 0%, #b6b6b6 25%, #a4a4a4 50%, #bdbdbd 75%, #b6b6b6 100%);
  background: linear-gradient(to bottom, #bdbdbd 0%, #b6b6b6 25%, #a4a4a4 50%, #bdbdbd 75%, #b6b6b6 100%);
  box-shadow: inset 0 -1px 1px #979797, inset 0 2px 1px #d4d4d4;
  background-size: 36px 36px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
#cssmenu.align-right ul ul > li.has-sub > a:after {
  right: auto;
  left: 12px;
}
#cssmenu ul ul > li.has-sub:hover > a:after {
  background-position: 0 -18px;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 15px;
  right: 16px;
  border-top-color: transparent;
  border-left-color: #ffffff;
}
#cssmenu.align-right ul ul > li.has-sub > a:before {
  top: 15px;
  right: auto;
  left: 16px;
  border-top-color: transparent;
  border-right-color: #ffffff;
  border-left-color: transparent;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  border-top-color: transparent;
  border-left-color: #888888;
}
#cssmenu.align-right ul ul > li.has-sub:hover > a:before {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: #888888;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen ul,
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul,
#cssmenu.small-screen > ul > li > ul,
#cssmenu.small-screen > ul > li:hover > ul,
#cssmenu.small-screen ul ul li:hover > ul,
#cssmenu.small-screen ul ul ul li:hover > ul,
#cssmenu.small-screen.align-right ul ul,
#cssmenu.small-screen.align-right ul ul li:hover > ul,
#cssmenu.small-screen.align-right ul ul ul li:hover > ul {
  position: relative;
  left: 0;
  right: auto;
  top: 0;
  width: 100%;
  display: none;
  padding: 0;
  opacity: 1;
  text-align: left;
}
#cssmenu.small-screen ul li {
  width: 100%;
  border-top: 1px solid rgba(120, 120, 120, 0.2);
}
#cssmenu.small-screen > ul > li > a,
#cssmenu.small-screen ul ul li a,
#cssmenu.small-screen ul ul li:first-child > a,
#cssmenu.small-screen ul ul li:last-child > a {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  background: none;
}
#cssmenu.small-screen ul li a {
  padding-left: 12px;
}
#cssmenu.small-screen ul ul li a {
  padding: 14px 25px 14px 27px;
}
#cssmenu.small-screen ul ul ul li a {
  padding-left: 42px;
}
#cssmenu.small-screen ul ul ul ul li a {
  padding-left: 57px;
}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul li.has-sub > a:after,
#cssmenu.small-screen ul ul li.has-sub > a:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  position: relative;
  display: block;
  padding: 20px;
  padding-left: 12px;
  cursor: pointer;
  font-size: 12px;
  color: #000000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#cssmenu.small-screen .submenu-button {
  position: absolute;
  right: 0;
  display: block;
  width: 52px;
  height: 52px;
  border-left: 1px solid rgba(120, 120, 120, 0.2);
  z-index: 10;
  cursor: pointer;
}
#cssmenu.small-screen ul ul .submenu-button {
  height: 41px;
}
#cssmenu.small-screen ul .submenu-button:after,
#cssmenu.small-screen #menu-button:after {
  content: '';
  position: absolute;
  right: 12px;
  top: 12px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  background: #9d9d9d;
  background: -webkit-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: -ms-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: -moz-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: -o-linear-gradient(top, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  background: linear-gradient(to bottom, #acacac 0%, #a5a5a5 25%, #939393 50%, #acacac 75%, #a5a5a5 100%);
  box-shadow: inset 0 -1px 1px #868686, inset 0 2px 1px #c3c3c3;
  background-size: 56px 56px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu.small-screen ul .submenu-button.submenu-opened:after,
#cssmenu.small-screen #menu-button.menu-opened:after {
  background-position: 0 -28px;
}
#cssmenu.small-screen ul ul .submenu-button:after {
  top: 6.5px;
}
#cssmenu.small-screen #menu-button:before,
#cssmenu.small-screen .submenu-button:before {
  content: '';
  position: absolute;
  right: 22px;
  top: 25px;
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #000000;
  z-index: 99;
}
#cssmenu.small-screen ul ul .submenu-button:before {
  top: 19.5px;
}
#cssmenu.small-screen #menu-button.menu-opened:before,
#cssmenu.small-screen .submenu-button.submenu-opened:before {
  border-top-color: #6a6a6a;
}
#cssmenu.small-screen.select-list {
  padding: 5px;
}

/* ------------------- Search Bar -----------------*/
form{
width:500px;
margin-left: 111%;
margin-bottom: 2%;
}
.search { 
padding:6px 15px 6px 30px;
margin:3px; 
background: url('./images/search.png') no-repeat 8px 6px; 
}
.rounded { 
border-radius:15px; 
-moz-border-radius:15px; 
-webkit-border-radius:15px; 
}

input[type=text]{
color:#bcbcbc;
}

input[type=button], input[type=button]:hover {
position:relative; 
left:-6px;
border:1px solid #adc5cf;
background: #e4f1f9; /* Old browsers */
background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
color:#7da2aa;
cursor: pointer;
}
/*-------------/.End Search Bar -------------------*/